footer {
    margin-block-start: auto; /*allows footer to be at the bottom */
}

.stretched-footer {
    background-color: var(--peach);
    border-top: 1px solid var(--dark-peach);
    margin-inline: calc(var(--base-space) * -1);
    padding-block: var(--space-XS);
}

.streched-container .footer-buttons-container {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--base-space);
}

a.button {
    text-transform: uppercase;
    margin-inline: calc(var(--base-space) / 4);
    box-shadow: 0px 0px 12px -2px var(--transparent-black);
    background: var(--blue);
    color: var(--white);
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    display: inline-block;
    width: var(--space-L);
    height: var(--space-L);
    line-height: var(--space-L);
    text-align: center;
    vertical-align: baseline;
}

svg.react-icons {
    width: var(--medium);
    height: var(--medium);
}

a.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: var(--transparent-white);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

a.button:focus,
a.button:hover {
    background: var(--blue-duck);
    border: var(--dark-peach);
}

a.button:active::after {
    width: 200px;
    height: 200px;
}
