ul {
    padding: 0;
    margin: 0;
    margin-block-start: var(--base-space);
}

li.list-group {
    list-style-type: none;
    color: var(--very-dark-grey);
    border: 1px dashed var(--medium-blue);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--base-space) * 0.75) calc(var(--base-space) * 1.25);
}

li.list-group:last-child {
    border-radius: 0 0 var(--radius-S) var(--radius-S);
    border-bottom: 1px dashed var(--medium-blue);
}

button.button {
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
}

button.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: var(--transparent-white);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

button.button:hover {
    background: var(--light-blue);
}

button.button:active::after {
    width: 200px;
    height: 200px;
}

li .button-checked {
    border: 1px solid var(--blue-duck);
    width: var(--space-L);
    height: var(--space-L);
}

li svg {
    width: var(--large);
    height: var(--large);
}

.success {
    background-color: var(--light-blue);
}

.success-checked {
    background-color: var(--light-blue);
    color: var(--dark-apple-green);
    width: 100%;
}